
.grid {
    display: inline;
    vertical-align: middle;
}

.grid span.name {
    font-family: Helvetica Neue, Arial;
}

.grid span.note {
    font-family: Helvetica Neue, Arial;
}

.grid text.label {
    font-family: Arial, sans;
    font-size:   8px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
}

.grid circle.circle { stroke: black; fill: white; }
.grid circle.dot    { stroke: black; fill: black; }
.grid path.square   { stroke: black; fill: white; }
.grid path.diamond  { stroke: black; fill: white; }
.grid path.cross    { stroke: black; }
.grid path.board    { stroke: dimgray; fill: none; }

.grid .column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.grid .column .name {
    font-variant: small-caps;
}
.grid .column .note {
    font-size: smaller;
}

body.sheet {
    font-family: Helvetica Neue, Arial;
}
dt {
    float: left;
}
dd {
    margin-block-end: 1em;    
}
h1.sheet {
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
}
h2.sheet {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}
h3.sheet {
    font-weight: normal;
    text-align: center;
}
