.grid {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.grid text.label {
    font-size: 7px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
    paint-order: stroke;
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.grid circle.circle {
    stroke: black;
    fill: white;
}

.grid circle.dot {
    stroke: none;
    fill: black;
}

.grid path.square {
    stroke: black;
    fill: white;
}

.grid path.diamond {
    stroke: black;
    fill: white;
}

.grid path.cross {
    stroke: black;
}

.grid path.board {
    stroke: dimgray;
    fill: none;
    stroke-linecap: round;
}

.grid>.symbol {
    font-variant: small-caps;
    margin-bottom: -0.25em;
}

.grid>.symbol>.extension {
    font-size: smaller;
    vertical-align: super;
}

.grid>.text {
    font-size: smaller;
}

.bar {
    font-size: 200%;
    display: inline;
    vertical-align: middle;
}

body.tune {
    font-family: "Noto Music", "Helvetica Neue", Arial, sans;
}

.tune h1 {
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
}

.tune h2 {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.tune h3 {
    font-weight: normal;
    text-align: center;
}

.tune h4 {
    font-weight: normal;
}

.tune footer {
    text-align: right;
    font-size: smaller;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
